@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin base {
	@apply grid grid-cols-1 overflow-y-scroll auto-rows-max p-6 rounded-lg shadow-md gap-y-4 md:grid-cols-1 md:gap-x-4 md:grid-flow-row md:grid-cols-2 xl:grid-cols-3;
	border-width: 1;
	border-style: solid;
	flex-basis: 100%;
}
