@use 'colors';
@use 'partials/decoStyles';
@tailwind base;
@tailwind components;
@tailwind utilities;

.green {
	@include decoStyles.cell;
	background-color: $green;
	color: $lightestGreen;
}


.green-keyboard {
	background-color: $green;
	color: $lightestGreen;
}

.yellow {
	@include decoStyles.cell;
	background-color: $yellow;
	color: $darkestYellow;
}

.yellow-keyboard {
	background-color: $yellow;
	color: $darkestYellow;
}

.grey {
	@include decoStyles.cell;
	background-color: $lightestGrey;
	color: $black;
}

.grey-keyboard {
	background-color: $lightestGrey;
	color: $black;
}

.dark-grey {
	@include decoStyles.cell;
	background-color: $darkestGrey;
	color: $white;
}

.dark-grey-keyboard {
	background-color: $darkestGrey;
	color: $white;
}

.transparent {
	@include decoStyles.cell;
	background-color: transparent;
	color: $white;
}

.keyboard-style {
	background-color: $darkGrey;
	color: $white;
}

.guesses-style-default {
	@include decoStyles.emptycell;
	background-color: transparent;
	color: $white;
}

.guesses-border-wrong {
	background-color: transparent;
	color: red;
	box-sizing: border-box;
	border-width: 1;
	border-style: solid;
	border-color: red;
	border-radius: 1px;
}
