@use 'colors';
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary {
    color: $white;
  }
  
  .text-primary-dark {
    color: $black;
  }
  
  .yellow-font {
    color: $yellow;
  }
  
  .green-font {
    color: $green;
  }
  
  .gray-font {
    color: $lightestGrey;
  }

  .yellow-link {
    color: #CDBF7D;
    cursor: pointer;
  }
  
  .yellow-link:hover {
    color: $yellow;
  }