@tailwind base;
@tailwind components;
@tailwind utilities;
/* TODO: Probably need a more reliable way to host this font */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* TODO: Refactor scss, use variables */
/* main BG color: #24191F */

/* temp box bg color: #3C2A34 */

/* main font color: #F1F1F9 */

/* correct wordle letter: #15B097 */

/* 'waiting for opponent' card color: #caa82a */

/* alt BG color, used on pending (waiting for opponent) modal: #775568 */

/* alt BG color, your turn: #19647E */

#root,
body,
html {
	/* Prevent overscroll on chrome (not supported on safari) */
	overscroll-behavior-y: none;
	height: 100vh;
	background-color: #2a272a;
	color: #f1f3f9;
	font-family: 'Anton', sans-serif;
}

.text-primary {
	color: #f1f3f9;
}

.text-primary-dark {
	color: #2a272a;
}

.bg-background {
	background-color: #2a272a;
}

.keyboard-style {
	background-color: #736f75;
	color: #f1f3f9;
}

.guesses-style-default {
	background-color: #f1f3f9;
	color: #2a272a;
	box-sizing: border-box;
	border-width: 1;
	border-style: solid;
	border-color: #736f75;
}

.guesses-border-wrong {
	background-color: transparent;
	color: red;
	box-sizing: border-box;
	border-width: 1;
	border-style: solid;
	border-color: red;
	border-radius: 1px;
}


/* Base color styles */
.yellow-font {
	color: #f8e797;
}

.green-font {
	color: #609b94;
}

.gray-font {
	color: #c7c7cd;
}

.green {
	background-color: #609b94;
	color: #dff0f3;
}

.yellow {
	background-color: #f8e797;
	color: #443f38;
}

.gray {
	background-color: #c7c7cd;
	color: #2a272a;
}

.dark-gray {
	background-color: #353135;
	color: #f1f3f9;
}

.neutral {
	background-color: #353135;
	color: #f1f1f9;
}

/* Buttons */
.gray-button-style {
	background-color: #9d9ba1;
	color: #f1f3f9;
}

.gray-button-style:hover {
	background-color: #c7c7cd;
	color: #2a272a;
}

.green-button-style {
	background-color: #609b94;
	color: #dff0f3;
}

.green-button-style:hover {
	background-color: #a8e4e0;
	color: #4e7471;
}

.yellow-button-style {
	background-color: #cdbf7d;
	color: #2a272a;
}

.yellow-button-style:hover {
	background-color: #f8e797;
}

.yellow-button-style--hollow {
	background-color: transparent;
	border: solid 2px #cdbf7d;
	color: #cdbf7d;
}

.yellow-button-style--hollow:hover {
	background-color: #f8e797;
	color: #2a272a;
}

/* Text styles */
.yellow-link {
	color: #cdbf7d;
	cursor: pointer;
}

.yellow-link:hover {
	color: #f8e797;
}

/* Match Card Styles */

.green-match-card {
	background-color: #609b94;
	color: #dff0f3;
	border-color: #4e7471;
	border-width: 2px;
	border-style: solid;
}

.yellow-match-card {
	background-color: #f8e797;
	color: #443f38;
	border-color: #c5b77c;
	border-width: 2px;
	border-style: solid;
}
