@tailwind base;
@tailwind components;
@tailwind utilities;
/* TODO: Probably need a more reliable way to host this font */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* TODO: Refactor scss, use variables */
/* main BG color: #24191F */

/* temp box bg color: #3C2A34 */

/* main font color: #F1F1F9 */

/* correct wordle letter: #15B097 */

/* 'waiting for opponent' card color: #caa82a */

/* alt BG color, used on pending (waiting for opponent) modal: #775568 */

/* alt BG color, your turn: #19647E */

#root,
body,
html {
  /* Prevent overscroll on chrome (not supported on safari) */
  overscroll-behavior-y: none;
  height: 100vh;
  background-color: #2A272A;
  color: #F1F3F9;
  font-family: 'Anton', sans-serif;
}

.text-primary {
  color: #F1F3F9;
}

.text-primary-dark {
  color: #2A272A;
}

.bg-background {
  background-color: #2A272A;
}

.keyboard-style {
  background-color: #736F75;
  color: #F1F3F9 
}

.guesses-style-default {
  background-color: #f1f3F9;
  color: #2A272A;
  box-sizing: border-box;
  border-width: 1;
  border-style: solid;
  border-color: #736F75;
}

.guesses-border-wrong {
  background-color: transparent;
  color: red;
  box-sizing: border-box;
  border-width: 1;
  border-style: solid;
  border-color: red;
  border-radius: 1px;
}

.modals-style {
  @apply flex border-2 rounded-[3rem];
  background-color: #353135;
  color: #F1F3F9;
  box-sizing: border-box;
  border-width: 1;
  border-style: solid;
  border-color: #2A272A;
}

/* Base color styles */ 
.yellow-font {
  color: #F8E797;
}

.green-font {
  color: #609B94;
}

.gray-font {
  color: #C7C7CD;
}

.green {
  background-color: #609B94;
  color: #dff0f3;
}

.yellow {
  background-color: #F8E797;
  color: #443F38;
}

.gray {
  background-color: #C7C7CD;
  color: #2A272A;
}

.dark-gray {
  background-color: #353135;
  color: #F1F3F9;
}

.transparent {
  background-color: transparent;
  color: #F1F1F9;
}

/* Buttons */
.gray-button-style {
  background-color: #9D9BA1;
  color: #f1f3F9;
}

.gray-button-style:hover {
  background-color: #C7C7CD;
  color: #2A272A;
}

.green-button-style {
  background-color: #609B94;
  color: #DFF0F3;
}

.green-button-style:hover {
  background-color: #a8e4e0;
  color: #4e7471;
}

.yellow-button-style {
  background-color: #CDBF7D;
  color: #2A272A;
}

.yellow-button-style:hover {
  background-color: #F8E797;
}

.yellow-button-style--hollow {
  background-color: transparent;
  border: solid 2px #CDBF7D;
  color: #CDBF7D;
}

.yellow-button-style--hollow:hover {
  background-color: #F8E797;
  color: #2A272A;
}

/* Text styles */
.yellow-link {
  color: #CDBF7D;
  cursor: pointer;
}

.yellow-link:hover {
  color: #F8E797;
}

/* Match Card Styles */

.green-match-card {
  background-color: #609B94;
  color: #dff0f3;
  border-color: #4E7471;
  border-width: 2px;
  border-style: solid;
}

.yellow-match-card {
  background-color: #f8e797;
  color: #443F38;
  border-color: #c5b77c;
  border-width: 2px;
  border-style: solid;
}