@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Probably need a more reliable way to host this font */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "./styles/colors";
@import "./styles/buttonStyles";


#root,
body,
html {
  /* Prevent overscroll on chrome (not supported on safari) */
  overscroll-behavior-y: none;
  height: 100vh;
  background-color: $black;
  color: $white;
  font-family: 'Anton', sans-serif;
}

.text-primary {
  color: $white;
}

.text-primary-dark {
  color: $black;
}

.bg-background {
  background-color: $black;
}

.keyboard-style {
  background-color: $darkestGrey;
  color: $white 
}

.guesses-style-default {
  background-color: $white;
  color: $black;
  box-sizing: border-box;
  border-width: 1;
  border-style: solid;
  border-color: $darkestGrey;
}

.guesses-border-wrong {
  background-color: transparent;
  color: red;
  box-sizing: border-box;
  border-width: 1;
  border-style: solid;
  border-color: red;
  border-radius: 1px;
}

.modals-style {
  @apply flex border-2 rounded-[3rem];
  background-color: $darkestGrey;
  color: $white;
  box-sizing: border-box;
  border-width: 1;
  border-style: solid;
  border-color: $black;
}

.modals-header {
  color: $white;
}

.modals-body {
  color: $white;
}

/* Lobby "Box" Styles */

.lobby-matchbox-style {
  background-color: $darkestGrey;
  color: $white;
  border-width: 1;
  border-style: solid;
  border-color: $black;
}

.lobby-matchbox-green{
  background-color: $darkestGrey;
  color: $white;
  border-width: 1;
  border-style: solid;
  border-color: $green;
}

.lobby-matchbox-yellow{
  background-color: $darkestGrey;
  color: $white;
  border-width: 1;
  border-style: solid;
  border-color: $yellow;
}

.lobby-matchbox-green {
  background-color: $darkestGrey;
  color: $white;
}

/* Base color styles */ 
.yellow-font {
  color: $yellow;
}

.green-font {
  color: $green;
}

.gray-font {
  color: $lightestGrey;
}

.green {
  background-color: $green;
  color: $lightestGreen;
}

.yellow {
  background-color: $yellow;
  color: $darkestYellow;
}

.gray {
  background-color: $lightestGrey;
  color: $black;
}

.dark-gray {
  background-color: $darkestGrey;
  color: $white;
}

.transparent {
  background-color: transparent;
  color: $white;
}


/* Text styles */
.yellow-link {
  color: #CDBF7D;
  cursor: pointer;
}

.yellow-link:hover {
  color: $yellow;
}

/* Match Card Styles */

.green-match-card {
  background-color: $green;
  color: $lightestGreen;
  border-color: $darkGreen;
  border-width: 2px;
  border-style: solid;
}

.yellow-match-card {
  background-color: $yellow;
  color: $darkestYellow;
  border-color: #c5b77c;
  border-width: 2px;
  border-style: solid;
}