@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Refactor scss, use variables */
/* main BG color: #24191F */

/* temp box bg color: #3C2A34 */

/* main font color: #F1F1F9 */

/* correct wordle letter: #15B097 */

/* 'waiting for opponent' card color: #caa82a */

#root,
body,
html {
  /* Prevent overscroll on chrome (not supported on safari) */
  overscroll-behavior-y: none;
  height: 100vh;
  background-color: #24191F;
  color: #F1F1F9;
}

.text-primary {
  color: #F1F1F9;
}

.text-primary-dark {
  color: #f1f1f9;
}

.bg-background {
  background-color: #24191F;
}

.keyboard-style {
  background-color: #A0939A; 
}

.grey-style {
  background-color: #3C2A34;
  color: #F1F1F9;
}

.guesses-style-default {
  background-color: transparent;
  color: #F1F1F9;
  box-sizing: border-box;
  border-width: 1;
  border-style: solid;
  border-color: #3C2A34;
}

.guesses-border-wrong {
  background-color: transparent;
  color: red;
  box-sizing: border-box;
  border-width: 1;
  border-style: solid;
  border-color: red;
  border-radius: 1px;
}

.modals-style {
  @apply flex border-2 rounded-[3rem];
  background-color: #3C2A34;
  color: #F1F1F9;
  box-sizing: border-box;
  border-width: 1;
  border-style: solid;
  border-color: #F1F1F9;
}

/* Buttons */
.gray-button-style {
  background-color: #A0939A;
  color: #F1F1F9;
}

.gray-button-style:hover {
  background-color: #D9D4D6;
  color: #3C2A34;
}

.green-button-style {
  background-color: #15B097;
  color: #F1F1F9;
}

.green-button-style:hover {
  background-color: #19647e;
  color: #f1f1f9;
}

.yellow-button-style {
  background-color: #FFCE47;
  color: #F1F1F9;
}

.yellow-button-style:hover {
  background-color: #CBA82A;
  color: black;
}

.yellow-button-style--hollow {
  background-color: transparent;
  border: solid 2px #FFCE47;
  color: #FFCE47;
}

.yellow-button-style--hollow:hover {
  background-color: #FFCE47;
  color: black;
}

/* Text styles */
.yellow-link {
  color: #FFCE47;
  cursor: pointer;
}

.yellow-link:hover {
  color: #CBA82A;
}